<!doctype html>
<html lang="en">
  <head>
    <title>Music</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1>Music of Dailymotion </h1>
      <a name="" id="volver" class="btn btn-primary" href="{{url_for('index')}}" role="button">Volver</a>

      <div class="container">
          <div class="row">
              {% for video in ListVideo %}

              <div class="col-md-3">
                  <div class="card" id="carta">
                      <img class="card-img-top" height="100" src="https://www.dailymotion.com/thumbnail/video/{{video['id']}}" alt="">
                      <div class="card-body">
                          <h6 class="card-title">{{video["channel"]}}</h6>
                          <p class="card-text">{{video["title"]}}</p>
                          <a name="" id="" class="btn btn-primary" href="https://www.dailymotion.com/video/{{video['id']}}" role="button">Click para ver</a>
                      </div>
                  </div>
              </div>
              {% endfor %}

          </div>    
      </div>
  </body>
</html>